header {
    background-color: #0059ff;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.header-content {
    flex: 1;
}
.header-content h1, .header-content h2 {
    margin: 0;
}
.header-content h1 {
    font-size: 2.5em;
    font-weight: 1000;
}
.header-content h2 {
    font-size: 1em;
    font-weight: 300;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0059ff;
}
main {
    padding: 20px;
}
section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
section h3 {
    margin-top: 0;
    color: #0059ff;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #c1d6ff;
    background-color: #ffffff;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #0059ff;
    color: #ffffff;
}

.svg1 {
    fill: #ffffffdd;
}

footer {
    margin: 11px;
    padding: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}